Repository rax-it/github-actions, changes with the labels that .github/labeler.yml gives for each.
All labels: repo, auto-approve

test
  .github/file2
Labels: none

test
  index.js
Labels: repo

test
  src/index.js
Labels: auto-approve

test
  .github/workflows/auto-approve.yml
Labels: none

test
  src/index.js
Labels: auto-approve

typo
  .github/workflows/auto-approve.yml
Labels: none

test
  src/index.js
Labels: auto-approve

echo
  .github/workflows/labeler.yml
  src/index.js
Labels: auto-approve

todo
  src/index.js
Labels: auto-approve

todo
  .github/workflows/labeler.yml
Labels: none

todo
  src/index.js
Labels: auto-approve

todo
  .github/workflows/labeler.yml
Labels: none

todo
  src/index.js
Labels: auto-approve

todo
  .github/workflows/labeler.yml
Labels: none

todo
  src/index.js
Labels: auto-approve

todo
  .github/workflows/labeler.yml
Labels: none

todo
  src/index.js
Labels: auto-approve

todo
  .github/workflows/labeler.yml
Labels: none

todo
  src/index.js
Labels: auto-approve

todo
  .github/workflows/labeler.yml
Labels: none

todo
  src/index.js
Labels: auto-approve

todo
  .github/workflows/labeler.yml
  src/index.js
Labels: auto-approve

todo
  src/index.js
Labels: auto-approve

todo
  .github/workflows/labeler.yml
Labels: none

todo
  src/index.js
Labels: auto-approve

todo
  .github/workflows/labeler.yml
Labels: none

todo
  src/index.js
Labels: auto-approve

todo
  .github/workflows/labeler.yml
Labels: none

todo
  src/index.js
Labels: auto-approve

todo
  .github/workflows/labeler.yml
Labels: none

todo
  src/index.js
Labels: auto-approve

todo
  src/index.js
Labels: auto-approve

todo
  .github/workflows/labeler.yml
Labels: none

todo
  src/index.js
Labels: auto-approve

todo
  .github/workflows/labeler.yml
Labels: none

todo
  src/index.js
Labels: auto-approve

todo
  .github/workflows/labeler.yml
Labels: none

todo
  src/index.js
Labels: auto-approve

todo
  .github/workflows/labeler.yml
Labels: none

todo
  src/index.js
Labels: auto-approve

.github/labeler.yml:

# Add 'repo' label to any root file changes
repo:
- '*'

# - any: ['packages/**/src/**/*', '!packages/**/src/raml-artifacts/**/*', '!packages/**/src/overrides/**/*']
auto-approve:
- any: ['src/**/*', '!src/overrides/**/*']
